#grid{
    /* width: 200px;
    height:150px;
    display:flex;
    flex-wrap: wrap; */
    display: grid;
  grid-template-columns:  auto auto auto auto;
  grid-gap: 2px;
  column-gap: 0.5px;
  background-color: #2196F3;
  padding: 10px;

  /* height: 200px;
  width:200px */

}
@keyframes fireworks {
    0% {
      transform: translateY(0) rotate(0deg);
      opacity: 1;
    }
    100% {
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
    }
  }
  
  .firework {
    position: fixed;
    width: 10px;
    height: 10px;
    background-color: #f00; /* Red color */
    border-radius: 50%;
    animation: fireworks 20s ease-out forwards;
  }

